# Default ignored files
/../../무제/.idea/shelf/
/../../무제/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../무제/.idea/httpRequests/
# Datasource local storage ignored files
/../../무제/.idea/dataSources/
/../../무제/.idea/dataSources.local.xml
